<head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>

## Inter-Robot Collisions as Information Sources

<!-- ![Localization in Robot Swarms](../images/loc.jpg) <!-- .element height="50%" width="50%" -->
<a href="http://gritslab.gatech.edu/home/2019/03/collisions-as-information-sources-in-robot-swarms/">
  <img src="../images/loc.jpg" alt="localization robot collisions" width="300" height="300"/>
</a>

## Decentralized Interference Reduction in Robot Swarms
<a href="http://gritslab.gatech.edu/home/2018/11/voluntary-retreat-for-decentralized-interference-reduction-in-robot-swarms/">
  <img src="../images/retreat.jpg" alt="interference robots retreat" width="300" height="300"/>
</a>



## Task Allocation In Multi Robot Systems
<a href="http://gritslab.gatech.edu/home/2019/03/closed-loop-task-allocation-using-inter-robot-encounters/">
  <img src="../images/task_all.png" alt="task allocation encounters" width="300" height="300"/>
</a>


## Swarming Brushbots
<a href="http://www.gnotomista.com/research/swarming_brushbots/">
  <img src="../images/brushbot_swarm.JPG" alt="swarming brushbots robots retreat" width="300" height="300" />
</a>


## Safe Open-Loop Control in Multi-robot systems
<a href="http://gritslab.gatech.edu/home/2016/12/safe-open-loop-motion-strategies-for-handling-communication-failures-in-multi-robot-systems/">
  <img src="../images/safe.jpg" alt="safe open loop" width="300" height="300"/>
</a>

<!-- <img src="../images/safe_open.jpg" alt="safe open loop multi-robot systems" width="300" /> -->
